                       {% load staticfiles %}
<html>
    <head>
        <title>My testing blog</title>
        <link href="https://fonts.googleapis.com/css?family=Ribeye&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
     </head>
     <body>
         <div class="page-header">
            <H1>THE BLOG</H1>
            {% if user.is_authenticated %}
                <a href="{% url 'post_new' %}"><span class="glyphicon glyphicon-plus"></span></a>
                <a href="{% url 'post_draft_list' %}"><span class="glyphicon glyphicon-edit"></span></a>
            {% endif %}
        </div>
    
   <div class="content container">
     <div class="row">
         <div class="col-md-8">
            {% block content %}
            {% endblock %}
         </div>
     </div>
   </div>
    <div class="content container">
        <a href="/" class="btn btn-default"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>
    </div>
    </body>
</html>
